.hljs {
  font-style: none;
  color: hsl(0, 0%, 87%);
  background-color: hsl(193, 15%, 25%);
}

.selected-choice .hljs:hover {
  background-color: hsl(193, 15%, 50%);
}

.hljs-string {
  color: #41b7d7;
}

.hljs-comment {
  color: hsl(190, 10%, 65%);
}

.hljs-symbol,
.hljs-number {
  color: #ff8095;
}
