
<h1>ドリル作成ページ</h1>

<% if Rails.env.development? %>
  <div style="font-size: 7pt;">
    開発のみ表示：<br>
    タグ入力フォーム<br>

    後回しかな。
    先に、公式ドリル(オープン)、公式ドリル(クローズド)を作成すべきだと思う。
    問題が充実してないと、ドリルを作成する意義が薄いような気がする。
    いや、反対に、ドリル機能がないと、利用しなくなるのでは。
    タグが問題の集合になるのでは。お気に入りタグ。
    問題作成者もお気に入りの代わりになるのでは。
    問題のお気に入り検索<br>
    タイトルフォームとタグフォームの大きさを変更したい。タイトルはタイトルらしく大きくあるべき。
  </div>
<% end %>

<%= render 'form', drill: @drill, search: @search, problems: @problems %>

<%= link_to 'ドリル一覧へ戻る(Back)', drills_path %>
