// [RailsでBootstrapとFont\-AwesomeはWebpackerで今時っぽく使おう \- Qiita](https://qiita.com/rhistoba/items/f724dae231d7e28bf477)
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

:root {
  --base-color: hsl(100, 50%, 50%);
  --main-color: hsl(183, 53%, 80%);
  --accent-color: hsl(100, 29%, 72%);
  --correct-color: hsl(113, 69%, 48%);
  --uncorrect-color: hsl(263, 73%, 51%);
  --white-color: hsl(0, 100%, 100%);
}

* ,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-color);
  font-size: 1.4em;
  line-height: 1.5em;
}

header {
  padding: 12px;
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  margin: 4px;
  padding: 4px;
}

p {
  margin-bottom: 0px;
}

ol {
  list-style-type: none;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 4px;
}

label {
  font-weight: bold;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  outline: 0;
}

code {
  // font-style: italic;
  font-size: 12.8px;
  font-family: 'Source Code Pro', monospace;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,monospace;
  color: hsl(0, 0%, 20%);
  // background-color: hsl(0, 0%, 93%);
}

// preのマージンが上下0pxだと、並べた時にくっついてしまう。
pre {
  margin: 0;
}

pre code {
  font-size: 12.8px;
}
