.drill-panel {
  background-color: var(--white-color);
  margin: 16px;
  padding: 16px;
}

.drills {
  display: grid;
  background-color: var(--white-color);
  border: 1px splid #ccc;
  border-radius: 4px;
  // padding: 4px;
}

.index-drill {
  // margin: 8px;
  padding: 16px;
  display: grid;
  // border: 1px #cccccc solid;
  border-bottom: 1px hsl(0, 0%, 90%) solid;
  // border-radius: 4px;
  text-decoration: none;
  color: hsla(0, 20%, 9%, 0.733);
}

.index-drill:hover {
  color: hsla(0, 20%, 9%, 0.733);
}

.index-drill:visited {
  color: hsla(0, 20%, 9%, 0.733);
}

.drill-id {
  text-align: right;
  color: hsla(164, 79%, 7%, 0.5);
  font-size: 4px;
}

.index-drill-title {
  // padding: 12px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  // text-shadow: hsla(0, 41%, 24%, 0.4) 0 1px 0;
}

.stas {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stat {
  color: hsl(0, 0%, 60%);
}

.drill-user {
  display: flex;
}

.drill-user > .a-user-icon {
  width: 2.1rem;
  height: 2.1rem;
}

.drill-user-name {
  color: hsl(0, 0%, 13%);
  line-height: 1.4em;
  text-decoration: none;
}

.drill-user-name:hover {
  color: rgb(28, 77, 211);
  text-decoration: underline;
}

.drill-title {
  margin: 0px;
  margin-bottom: 8px;
  // text-shadow: hsla(0, 41%, 24%, 0.4) 0 1px 0;
}

.grid {
  display: grid;
  // place-content: center;
  // gap: 1ch;
}

.btn-box {
  margin: 0 autp;
  width: 80%;
  // text-align: center;
}

.solve-drill-form {
  display: flex;
  flex-flow: column;
  // justify-content: center;
  // justify-items: center;
  // grid-template-columns: 600px;
}

.drill-option {
  margin-bottom: 20px;
  display: flex;
  flex-basis: 100%;
}

.label {
  flex-basis: 200px;
  text-align: right;
}

.random-option {
  flex: 0.1;
  text-align: left;
}

.problem-number-option {
  flex: 1;
  // width: 100%;
  // width: 800px;
}


.solve-btn {
  // margin: 0 auto;
  width: 320px;
}



.btn-big-solve {
  // margin: 0 auto;
  // disp
}
