.drill-panel {
  background-color: var(--white-color);
  margin: 16px;
  padding: 16px;
}

.drills {
  display: grid;
  background-color: var(--white-color);
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
}

.index-drill {
  margin: 8px;
  display: grid;
  border: solid 1px rgba(94, 90, 90, 0.822);
  border-radius: 4px;
  text-decoration: none;
  color: hsla(0, 20%, 9%, 0.733);
}

.index-drill:hover {
  color: hsla(0, 20%, 9%, 0.733);
}

.index-drill:visited {
  color: hsla(0, 20%, 9%, 0.733);
}

.drill-id {
  text-align: right;
  color: hsla(164, 79%, 7%, 0.5);
  font-size: 8px;
}

.index-drill-title {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin: 12px;
  padding: 12px;
}

.drill-user-name {
  color: hsl(0, 0%, 13%);
  line-height: 1.4em;
  text-decoration: none;
}

.drill-user-name:hover {
  color: rgb(28, 77, 211);
  text-decoration: underline;
}

.grid {
  display: grid;
  place-content: center;
  gap: 1ch;
}

.btn-box {
  width: 80%;
  // text-align: center;
}

.solve-btn {
  width: 100%;
}
