.drill-panel {
  background-color: var(--white-color);
  margin: 16px;
  padding: 16px;
}

.drills {
  display: grid;
  background-color: var(--white-color);
  border: 1px splid #ccc;
  border-radius: 4px;
}

.max-w768 {
  max-width: 768px;
}

.index-drill {
  padding: 16px;
  display: grid;
  border-bottom: 1px hsl(0, 0%, 90%) solid;
  text-decoration: none;
  color: hsla(0, 20%, 9%, 0.733);
}

.index-drill:hover {
  color: hsla(0, 20%, 9%, 0.733);
}

.index-drill:visited {
  color: hsla(0, 20%, 9%, 0.733);
}

.drill-id {
  text-align: right;
  color: hsla(164, 79%, 7%, 0.5);
  font-size: 4px;
}

.index-drill-title {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.drill-show-panel {
  margin: 0 auto;
  background: #FFFFFF;
  /* shadow-blue */

  box-shadow: 0px 8px 24px rgba(0, 102, 255, 0.25);
  border-radius: 20px;
}

.drill-show-top-panel {
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;

  border-bottom: 3px #EEEEEE solid;
}

.drill-show-middle-panel {
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.drill-problem-counts {
  display: flex;
  justify-content: space-around;
}

.drill-stat-label {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */

  color: #222222;
}

.drill-stat-data {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 104px;

  color: #222222;
}

.unit {
  font-size: 80%;
}

.drill-show-bottom-panel {
  border-top: 3px #EEEEEE solid;

  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.stas {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stat {
  color: hsl(0, 0%, 60%);
}

.drill-user {
  display: flex;
}

.drill-user > .a-user-icon {
  width: 2.1rem;
  height: 2.1rem;
}

.drill-user-name {
  color: hsl(0, 0%, 13%);
  line-height: 1.4em;
  text-decoration: none;
}

.drill-user-name:hover {
  color: rgb(28, 77, 211);
  text-decoration: underline;
}

.drill-title {
  margin: 0px;
  margin-bottom: 8px;
}

.grid {
  display: grid;
}

.btn-box {
  margin: 0 autp;
  width: 80%;
}

.solve-drill-form {
  display: flex;
  flex-flow: column;
}

.random-option {
  flex: 0.1;
  text-align: left;
}

.problem-number-option {
  flex: 1;
}

.solve-btn {
  width: 320px;
}
