.form-panel {
  margin: 0px auto;
  padding: 1.5rem;
  max-width: 560px;
}

.form-title {
  margin: 16px;
}

.form-item {
  margin-top: 16px;
}

.form-item--input {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border: solid 1px hsl(80, 9%, 75%);
  border-radius: 3%;
  line-height: 1.45;
  font-size: 15px;
}

.form-action-item {
  margin-top: 16px;
  text-align: center;
  width: 100%;
}

.link-boxes {
  margin-top: 16px;
  padding-top: 8px;
  border-top: solid 1px hsl(80, 9%, 75%);
}

.link {
  text-decoration: none;
  line-height: 1.9em;
}

.markdown-form__preview {
  background-color: white;
  border-radius: .25rem;
  // min-height: 12rem;
  height: 90%;
}

.like-button {
  width: 32px;
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-button__submit {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  border: none;
}

.like-button__icon {
  font-size: 20px;
  transition: all .2s ease-out;
  &.is-inactive {
    color: #ccc;
  }
  .like-button:hover .is-inactive {
    color: rgb(160, 160, 160);
  }
  &.is-active {
    color: rgb(199, 95, 143);
  }
}
