.form-panel {
  margin: 0px auto;
  padding: 1.5rem;
  max-width: 560px;
}

.form-title {
  margin: 16px;
}

.form-item {
  margin-top: 16px;
}

.form-item--input {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border: solid 1px hsl(80, 9%, 75%);
  border-radius: 3%;
  line-height: 1.45;
  font-size: 15px;
}

.form-action-item {
  margin-top: 16px;
  text-align: center;
  width: 100%;
}

.form-action-btn {
  // width: 80%;
  // padding: 12px;
  // background-color: hsl(44, 96%, 54%);
  // border: none;
  // border-radius: 5%;
  // letter-spacing: 1em;
  // font-size: 1.2em;
  // font-weight: bold;
}

.form-action-btn:hover {
  background-color: hsl(44, 95%, 44%);
}

.link-boxes {
  margin-top: 16px;
  padding-top: 8px;
  border-top: solid 1px hsl(80, 9%, 75%);
}

.link {
  text-decoration: none;
  line-height: 1.9em;
}

.markdown-form__preview {
  background-color: white;
  border-radius: .25rem;
  // min-height: 12rem;
  height: 90%;
}
