.problem {
  margin: 4px;
  padding: 4px;
  // border: solid 1px #aaa;
  // width: 800px;
}

.problem-title {
  margin: 4px;
  padding: 4px;
  // border: solid 1px #aaa;
  // background-color: red;
}

.problem-statement {
  // border: solid 1px #aaa;
  // width: 200px;
  background-color: #fff;
  // height: 200px;
}
