.waku {
  border: 1px solid black;
  height: 25px;
}

.stamp.is-solved {
  display: flex;
  flex-direction: column;
  font-size: 2.15rem;
  font-weight: 800;
  font-family: serif;
  justify-content: center;
}

.stamp.is-circle {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
}

.stamp {
  border: solid 1px #ed5151;
  border-radius: .75rem;
  pointer-events: none;
  height: 5.5rem;
  width: 5.5rem;
  position: absolute;
  right: 18.75rem;
  top: auto;
  transform: rotate(25deg);
  font-size: 0.625rem;
  line-height: 1;
  display: block;
  text-align: center;
  color: #ed5151;
  font-weight: 400;
  font-feature-settings: "palt";
  letter-spacing: 0;
}

.stamp__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
