.tos {
  line-height: 2.5rem;
  padding: 40px 80px 40px 80px;

  h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
  }
  h2 {
    margin-top: 48px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  ol {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 17px;
    list-style-type: decimal;
  }
  li {
    margin-top: 8px;
  }
  p {
    font-size: 17px;
  }
}
