<p>
本サービスへのアカウント登録ありがとうございます。<br>
本メールは、アカウントのメールアドレス確認のために送付しております。<br>
</p>
<br>

<p>
アカウント登録を完了するために、次のURLへアクセスをお願いします。<br>
<% url =  confirmation_url(@resource, confirmation_token: @token) %>
<%= link_to url, url %><br>
</p>
<br>

<p>
■本メールに心当たりのない方へ<br>
他のユーザの方が登録の際に間違えたメールアドレスを入力している可能性があります。<br>
上記URLにアクセスせず、メールを無視してください。<br>
</p>
<br>

-------------------------------------<br>
<p>
Brain Driller<br>
<% domain = 'https://brain-driller.herokuapp.com' %>
<%= link_to domain, domain %><br>
</p>

<% if Rails.env.development? %>
   <br>
  【開発環境】
  [TODO] アプリを変更したときに、
  http://localhost:3000
  <br><br>
  <%= @user %>
  <%= self.instance_variables %>
<% end %>
