=======================================================================<br>
※このメールは、○○IDの登録メールアドレスあてに自動的に送信されています。<br>
※返信の必要はありません。<br>
=======================================================================<br>


<h1>パスワードが変更されました。</h1>

<% if Rails.env.development? %>
  <h1>【以下、開発環境】</h1>
  <p>Hello <%= @resource.email %>!</p>
  <p>We're contacting you to notify you that your password has been changed.</p>
<% end %>
