<p>アカウントのパスワードが変更されました。</p>

-------------------------------------<br>
<p>
Brain Driller<br>
<% domain = 'https://brain-driller.herokuapp.com' %>
<%= link_to domain, domain %><br>
</p>

<% if Rails.env.development? %>
  <h1>【以下、開発環境】</h1>
  <p>Hello <%= @resource.email %>!</p>
  <p>We're contacting you to notify you that your password has been changed.</p>
<% end %>
