<h2>ユーザー一覧</h2>

<%= paginate @users %>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.id %>.
      <%= link_to "#{user.login_name}", "/users/#{user.id}" %>
      <%= link_to "(admin)", "/admin/users/#{user.id}" %>
    </li>
  <% end %>
</ul>
