<div class="footer">
  <div class="footer-nav">
    <div class="footer-nav__items">
      <div class="footer-nav__item">
        <%= link_to t("word.privacy_policy"), policy_path, class: "footer-nav__link" %>
      </div>
      <div class="footer-nav__item">
        <%= link_to t("word.tos"), tos_path, class: "footer-nav__link" %>
      </div>
    </div>
  </div>
  <small class="footer-copyright">
    <span>©</span>
    <span>universato</span>
    <span>2021</span>
  </small>
</div>
