<!DOCTYPE html>
<html>
  <head>
    <title>BrainDriller</title>
    <%= render 'layouts/meta' %>
  </head>

  <body>
    <header><div class="modest-logo-title">BrainDriller</div></header>
    <main><%= yield %></main>
  </body>
</html>
