<!DOCTYPE html>
<html>
  <head>
    <title>BrainDriller</title>
    <%= render 'layouts/meta' %>
  </head>

  <body>
    <header>
      <div class="">
        <%= link_to 'BrainDriller', '/', class: 'navbar-brand header__title modest-logo-title' %>
      </div>
    </header>
    <main><%= yield %></main>
  </body>
</html>
